@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


#cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 30px;
}

.media-content {
    display: none;
}

.card {
    width: 100%;
    height: 370px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 8s;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: flex-end;
  
    }

    .card:hover {
        transform: scale(1.12);
    }

    .nome {
        width: 100%;
        height: 20px;
        color: #fff;
        cursor: pointer;
        margin-top: 10px;
        transition: .5s;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: 'Kdam Thmor Pro' , sans-serif;
    }

    .banner1 {
        background-image: url('../../assets/fotos/Robert\ Pattison.jfif');
    }

    .banner2 {
        background-image: url('../../assets/fotos/Zoe\ Kravitz.jfif');
    }

    .banner3 {
        background-image: url('../../assets/fotos/Paul\ Dano.jfif');
    }

    .banner4 {
        background-image: url('../../assets/fotos/Collin\ Farrell.jfif');
    }

    .banner5 {
        background-image: url('../../assets/fotos/Jeffrey\ Wright.jfif')
    }

    .banner6 {
        background-image: url('../../assets/fotos/Andy\ Serkis.jfif')
    }

    .banner7 {
        background-image: url('../../assets/fotos/John\ Turturro.jfif')
    }
    .banner8 {
        background-image: url('../../assets/fotos/Barry\ Keoghan.jfif')
    }
    .banner9 {
        background-image: url('../../assets/fotos/Peter\ Sarsgaard.jfif')
    }
    .banner10 {
        background-image: url('../../assets/fotos/jayme\ Lawson.jfif')
    }
    .banner11 {
        background-image: url('../../assets/fotos/Alex\ Fems.jfif')
    }
    .banner12 {
        background-image: url('../../assets/fotos/max\ Caver.jfif')
    }
    .banner13 {
        background-image: url('../../assets/fotos/Rupert\ Penny.jfif')
    }
    .banner14 {
        background-image: url('../../assets/fotos/Con\ ONeill.jfif')
    }
    .banner15 {
        background-image: url('../../assets/fotos/Gil\ Perez.jfif')
    }
    .banner16 {
        background-image: url('../../assets/fotos/Oscar\ Novak.jfif')
    }
    .banner17 {
        background-image: url('../../assets/fotos/Charlie\ Carver.jfif')
    }
    .banner18 {
        background-image: url('../../assets/fotos/Amber\ Sienna.jfif')
    }
    .banner19 {
        background-image: url('../../assets/fotos/Hanna\ hizic.jfif')
    }
    .banner20 {
        background-image: url('../../assets/fotos/Mark\ Killeen.jfif')
    }
    .banner21 {
        background-image: url('../../assets/fotos/Janine\ Harouni.jfif')
    }
    .banner22 {
        background-image: url('../../assets/fotos/Kosha\ Engfer.jfif')
    }
    .banner23 {
        background-image: url('../../assets/fotos/Archíe\ Barnes.jfif')
    }
    .banner24 {
        background-image: url('../../assets/fotos/Luke\ Roberts.jfif')
    }
    .banner25 {
        background-image: url('../../assets/fotos/sandra\ Dickinson.jfif')
    }
    .banner26 {
        background-image: url('../../assets/fotos/Stella\ Stocker.jfif')
    }
    .banner28 {
        background-image: url('../../assets/fotos/Peter\ Craig.jfif')
    }
    .banner27 {
        background-image: url('../../assets/fotos/Jeremy\ Irons.jfif')
    }
    .banner29 {
        background-image: url('../../assets/fotos/Feirouz\ Al.jfif')
    }
    .banner30 {
        background-image: url('../../assets/fotos/Bob\ Kane.jfif')
    }
    .banner31 {
        background-image: url('../../assets/fotos/Shinpachi\ Tsuji.jfif')
    }
    .banner32 {
        background-image: url('../../assets/fotos/Peter\ Mcdonald.jfif')
    }

    @media(max-width: 768px) {
        .card {
            display: none;
        }

        .nome {
            display: none;
        }

        .media-content{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
            column-gap: 30px;
        }

        .cards {
            width: 100%;
            height: 350px;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 5px;
            cursor: pointer;
            transition: 5s;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            justify-content: flex-end;
            
        }

        .nome2 {
            display: none;
            width: 100%;
            height: 10px;
            color: #fff;
            cursor: pointer;
            transition: .5s;
            display: flex;
            justify-content: center;
            font-size: 20px;
            font-family: 'Kdam Thmor Pro' , sans-serif
        }
    }
        