@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

footer { 
    width: 100%;
    height: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.logo{
object-fit: contain;

}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro' , sans-serif;
}

.footer-navigation {
    display: none;
}



@media(max-width: 768px) {
    .footer-navigation{
        display: block;

    }

    .logo {
        width: 250px;
    }

    .footer-list {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
}